.footer__links-wrap {
  list-style: none;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 525px) {
  .footer__links-wrap {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 32px;
    align-content: space-between;
  }
}

@media screen and (max-width: 320px) {
  .footer__links-wrap {
    flex-direction: column;
  }
}
