@import url(./__card/places__card.css);
@import url(./__text/places__text.css);
@import url(./__title/places__title.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__image/places__image.css);
@import url(./__text-container/places__text-container.css);
@import url(./__url-container/places__url-container.css);
@import url(./__url/places__url.css);

.places {
  margin: 92px auto 0 auto;
  max-width: 984px;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
  .places {
   /*max-width: 928px;*/
    max-width: calc(100% - 48px*2);
  }
}


@media screen and (max-width: 768px) {
  .places {
    margin-top: 88px;
    max-width: 93.75%;
  }
}

@media screen and (max-width: 500px) {
  .places {
    margin-top: 78px;
    max-width: 100%;
  }
}


@media screen and (max-width: 320px) {
  .places {
    margin-top: 64px;
   /* max-width: 320px;*/
  }
}
