.places__image {
  grid-area: image;
  align-self: start;
  justify-self: center;
  max-width: 100%; /*I tried removing this, but the image expands outside of its grid cell when I do */
  margin: 0 auto 0 auto;
  padding: 0;
}


@media screen and (max-width: 1024px) {
  .places__image {
    margin: 0;
  }
}



@media screen and (max-width: 720px) {
  .places__image {
    max-width: 93%;
    margin: 0 auto 0 auto;
  }
}

@media screen and (max-width: 525px) {
  .places__image {
    max-width: 100%;
  }
}

/*
@media screen and (max-width: 320px) {
  .places__image {
    max-width: 320px;
  }
}*/


