.places__title {
  grid-area: title;
  align-self: end;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  margin: 0;
  padding: 0;
  max-width: 100%;
  align-content: flex-end;
}

@media screen and (max-width: 1024px) {
  .places__title {
    /*max-width: 440px;*/
  }
}

@media screen and (max-width: 928px) {
  .places__title {
    font-size: 62px;
    line-height: 56px;
  }
}

@media screen and (max-width: 864px) {
  .places__title {
    font-size: 52px;
    line-height: 46px;
  }
}

@media screen and (max-width: 800px) {
  .places__title {
   /* max-width: 340px;*/
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 525px) {
  .places__title {
    max-width: calc(100% - 24px*2);
   /* max-width: 288px;*/
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .places__title {
    max-width: calc(100% - 16px*2);
    margin: 0 0 0 16px;
  }
}

