@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  font-family: "Inter", Arial, sans-serif;
  margin: 58px auto 92px auto;
  max-width: 984px;
}

@media screen and (max-width: 928px) {
  .lead {
    max-width: 100%;
    margin: 50px auto 82px auto;
   }
 }

@media screen and (max-width: 768px) {
 .lead {
    margin: 50px auto 82px auto;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin: 50px 0 64px 0;
   }
 }
