  .video__item_place_wyoming {
    max-width: 100%;
    max-height: 100%;
    text-decoration: none;
    background-image: url(../../../../images/video-wyoming.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  .video__item_place_wyoming::before {
    content: '';
    background: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    z-index: -1;
    transition-duration: .5s;
  }

  .video__item_place_wyoming:hover::before {
    opacity: 0.8;
  }

