.cover__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto 283px auto;
  max-width: 320px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin: 0 auto 233px auto;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 0 auto 153px auto;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin: 0 auto 50px auto;
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}


