.places__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 24px;
  margin-top: 0px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.places__text:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .places__text {
    font-size: 16px;
    line-height: 26px;
  }
}
