@import url(./_active/header__link_active.css);

.header__link {
  margin-left: 18px;
  max-width: 30px;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #fff;
  text-decoration: none;
}


@media screen and (max-width: 375px) {
  .header__link {
    font-size: 18px;
    line-height: 24px;
    margin-left: 18px;
    max-width: 21px;
    }
  }
