.places__card {
  display: grid;
  grid-template-columns: 460px 484px;
  /*grid-template-columns: 47.5% 49%;*/
  grid-column-gap: 40px;
  grid-row-gap: 60px;
  grid-template-areas:
    "title url"
    "image description";
  margin: 0 0 80px 0;
  padding: 0;
}

.places__card:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .places__card {
    grid-template-columns: 47.5% 49%;
    grid-column-gap: 3.5%;
  }
}

@media screen and (max-width: 768px) {
  .places__card {
    /*grid-template-columns: 340px 352px;
    grid-column-gap: 28px;
    padding: 0;*/
    grid-row-gap: 32px;
    margin: 0 0 60px 0;
  }
}

/*
@media screen and (max-width: 760px) {
  .places__card {
    grid-template-columns: 44% 51%;
    grid-column-gap: 5%;
    padding: 0;
  }
}*/

@media screen and (max-width: 560px) {
  .places__card {
    grid-template-columns: 100%;
    grid-template-areas:
    "title"
    "image"
    "description";
  }
}


