@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__content/intro__content.css);
@import url(./__container/intro__container.css);
@import url(./__data/intro__data.css);

.intro {
 margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .intro {
    margin-bottom: 88px;
    }
  }

@media screen and (max-width: 768px) {
  .intro {
    margin-bottom: 64px;
    }
  }
