.test {
  display: flex;
  margin: 92px auto 24px auto;
  padding: 0;
}

.test__columns {
  width: 1184px;
  height: 18px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.test__links-wrap {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}



/*<div class="test section section_narrow">
  <img class="logo__header" src="./images/logo.svg" alt="logo" >
  <ul>
    <li><a href="#" class="header__link header__link_en">En</a></li>
    <li><a href="#" class="header__link">Es</a></li>
  </ul>
</div>*/
