.places__url-heading {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaa;
  margin-bottom: 12px;
  padding-bottom:0;
  max-width: 456px;
  vertical-align: bottom;
}

@media screen and (max-width: 768px) {
  .places__url-heading {
    max-width: 352px;
  }
}
