@import url(../section/_narrow/section_narrow.css);

.section {
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1183px) {
  .section {
    max-width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 768px) {
  .section {
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 425px) {
  .section {
    max-width: calc(100% - 16px*2)
  }
}



